<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="stylesheet" href="style.css">

</head>
<body>

<div class=title>
  <p><br>Music Revelation</br></p>
</div>


<div class=topBloc>
  <a class=a1 href="home.html">Home</a>
  <a class=a2 href="search.html">Search</a>
  <a class=a3 href="subscribe.html">Subscribe</a>
  <a class=a4 href="login.html">Login</a>
</div>



<div class=leftBloc>
  <form action="#">
    <p>Quick Search:</p>
    <input style="width:80%; margin-left:5px; margin-bottom:3px;" type="text" name="search">
    <input style="margin-left:5px;" type="submit" value="search">
  </form>
  <a href="profile.html" style="color:white; text-decoration:none;"><p>Access profile</p></a>
  <a href="editVideo.html" style="color:white; text-decoration:none;"><p>Access editVideo</p></a>
  <a href="favouriteArtists.html" style="color:white; text-decoration:none;"><p>Access favouriteArtists</p></a>
  <a href="myVideos.html" style="color:white; text-decoration:none;"><p>Access myVideos</p></a>
  <a href="video.html" style="color:white; text-decoration:none;"><p>Access video</p></a>
  <a href="uploadVideos.html" style="color:white; text-decoration:none;"><p>Access uploadVideos</p></a>
  <a href="videoResearch.html" style="color:white; text-decoration:none;"><p>Access videoResearch</p></a>
  <a href="visitProfile.html" style="color:white; text-decoration:none;"><p>Access visitProfile</p></a>
  <a href="visitProfileVideos.html" style="color:white; text-decoration:none;"><p>Access visitProfileVideos</p></a>
</div>

<div class=bodyBloc>
  <h1>Bienvenue sur Music Revelation !</h1>
  <ul>
    <iframe width="370" height="310"
        src={{url1}}>
    </iframe>
    <iframe width="370" height="310"
        src={{url2}}>
    </iframe>
    <iframe width="370" height="310"
        src={{url3}}>
    </iframe>
    <iframe width="370" height="310"
        src={{url4}}>
    </iframe>
  </ul>
</div>

<div class=bodyBloc>
  <p>Please log in to use the full content of the website.</p>
</div>


<div class=rightBloc style="padding-bottom:350px;">
  <p style="margin-left:5px;">Recommandation chaines:</p>
  <ul>
    <li>chaine1</li>
    <li>chaine2</li>
    <li>chaine3</li>
    <li>chaine4</li>
  </ul>
</div>
</body>
</html>
