body {
  background-image: linear-gradient(225deg, #1D171E, #610079);

  color:white;
  text
}

.title{
  padding-bottom: 8px;
  margin-bottom: 2px;
  border-radius: 10px;
  font-size: 36px;
  background-image: linear-gradient(#1D171E, #610079);

}

.topBloc{
    width:100%;
    height:60px;
    text-decoration: none;
}
.a1{
  border-radius: 10px;
  width:25%;
  margin:1px;
  padding-top: 15px;
  height:35px;
  text-align: center;
  float:left;
  color:white;
  background-color: #610079;
  text-decoration: none;
}
.a1:hover{
  background-color: #8500A6;
}
.a2{
  border-radius: 10px;
  width:24%;
  margin:1px;
  padding-top: 15px;
  height:35px;
  text-align: center;
  float:left;
  color:white;
  background-color: #610079;
  text-decoration: none;
}
.a2:hover{
  background-color: #8500A6;
}
.a3{
  border-radius: 10px;
  width:24%;
  margin:1px;
  padding-top: 15px;
  height:35px;
  text-align: center;
  float:left;
  color:white;
  background-color: #610079;
  text-decoration: none;
}
.a3:hover{
  background-color: #8500A6;
}
.a4{
  border-radius: 10px;
  width:25%;
  margin:1px;
  padding-top: 15px;
  height:35px;
  text-align: center;
  float:left;
  color:white;
  background-color: #610079;
  text-decoration: none;
}
.a4:hover{
  background-color: #8500A6;
}
.leftBloc{
  border-radius: 10px;
  width: 15%;
  float: left;
}
.bodyBloc{
  text-align: center;
  width: 70%;
  float: left;
}
.unsplit_bodyBloc{
  text-align: center;
  width:100%;
  float: left;
  height:100%;
}
.rightBloc{
  border-radius: 10px;
  width: 15%;
  float: left;
}
